.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/WhatsAppImage2018-02-11at7.38.32AM1-Copy.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 470px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  width: 539px;
  margin: 420px auto 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 673px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: url("images/wdq.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 682px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 682px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 55px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 4.5rem;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  margin: 14px -14px 0 14px;
}

.u-section-2 .u-text-3 {
  margin: 42px 0 0 14px;
}

.u-section-2 .u-image-1 {
  min-height: 682px;
  background-image: url("images/WhatsAppImage2018-02-05at3.51.49PM1.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 51px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 562px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 562px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 430px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 430px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 486px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1142px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 456px;
    order: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 686px;
    order: 1;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 203px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 463px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1853px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  width: 863px;
  margin: 85px auto 0;
}

.u-section-3 .u-text-2 {
  width: 680px;
  margin: 24px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 205px auto 0 244px;
}

.u-section-3 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/PARKedit.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 84px;
}

.u-section-3 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 122px auto 0 766px;
}

.u-section-3 .u-image-2 {
  width: 497px;
  height: 497px;
  background-image: url("images/WhatsAppImage2018-02-05at4.03.14PM.jpeg");
  background-position: 50% 50%;
  margin: -475px 97px 0 auto;
}

.u-section-3 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-weight: 400;
  width: 236px;
  text-transform: none;
  margin: 150px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 428px;
  height: 428px;
  background-image: url("images/TOYplayingedited.jpg");
  background-position: 50% 50%;
  margin: -233px auto 60px 109px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    margin-top: 180px;
    margin-left: 182px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -391px;
    margin-left: 24px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 279px;
    margin-left: 666px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -573px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 161px;
    margin-left: 110px;
  }

  .u-section-3 .u-image-1 {
    width: 265px;
    height: 265px;
    margin-top: -232px;
    margin-left: 12px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 228px;
    margin-right: 12px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 644px;
    height: 644px;
    margin-top: -628px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 109px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
    margin-top: 198px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 210px;
    margin-left: 68px;
  }

  .u-section-3 .u-image-1 {
    width: 233px;
    height: 233px;
    margin-top: -221px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 185px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 521px;
    height: 521px;
    margin-top: -564px;
    margin-left: auto;
    margin-right: 43px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1608px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-shape-1 {
    width: 179px;
    height: 179px;
    margin-top: 143px;
    margin-left: 34px;
  }

  .u-section-3 .u-image-1 {
    width: 179px;
    height: 179px;
    margin-top: -149px;
    margin-left: 1px;
  }

  .u-section-3 .u-shape-2 {
    width: 185px;
    height: 185px;
    margin-top: 155px;
  }

  .u-section-3 .u-image-2 {
    width: 337px;
    height: 337px;
    margin-top: -375px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 129px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: -175px;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1394px;
}

.u-section-4 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/WhatsAppImage2018-02-05at4.03.03PM.jpeg");
  background-position: 50% 50%;
  margin: 95px 392px 0 auto;
}

.u-section-4 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -51px auto 0 90px;
}

.u-section-4 .u-image-2 {
  width: 300px;
  height: 300px;
  background-image: url("images/WhatsAppImage2018-02-05at3.51.58PM.jpeg");
  background-position: 50% 50%;
  margin: -275px auto 0 55px;
}

.u-section-4 .u-image-3 {
  width: 439px;
  height: 439px;
  background-image: url("images/WhatsAppImage2018-02-05at4.03.06PM1.jpeg");
  background-position: 50% 50%;
  margin: -93px 131px 0 auto;
}

.u-section-4 .u-image-4 {
  width: 321px;
  height: 321px;
  background-image: url("images/WhatsAppImage2018-02-05at4.03.09PM.jpeg");
  background-position: 50% 50%;
  margin: -102px auto 60px 55px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-top: 65px;
    margin-left: 207px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -7px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 56px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    width: 323px;
    height: 323px;
    margin-top: 422px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -108px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -199px;
    margin-right: 84px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -102px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-top: 804px;
    margin-right: 14px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -20px;
    margin-left: 100px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -230px;
  }

  .u-section-4 .u-image-3 {
    width: 492px;
    height: 492px;
    margin-top: -159px;
    margin-right: 101px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1295px;
  }

  .u-section-4 .u-image-1 {
    width: 305px;
    height: 305px;
    margin-top: 743px;
    margin-right: 40px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 56px;
    margin-left: 90px;
  }

  .u-section-4 .u-image-2 {
    width: 243px;
    height: 243px;
    margin-top: -215px;
    margin-left: 40px;
  }

  .u-section-4 .u-image-3 {
    width: 362px;
    height: 362px;
    margin-top: -93px;
    margin-right: -22px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -3px;
    margin-left: 19px;
  }
}